extends layout

block content
    h1 Create your dahsboard 
    p Add each players player tag to the list.
    p A player tag looks like this: #2UVQL0GY

    form(method='POST' action='')
        div.form-group
            label(for='title') Dashboard Name:
            input#title.form-control(type='text', placeholder='Name of Dashboard' name='title' required='true' value=(undefined===dashboard ? '' : dashboard.title) )
        div.form-group
            label(for='players') Player Tags:
            textarea#summary.form-control(type='textarea', placeholder='Player Tags' name='players' required='true') #{undefined===dashboard ? '' : dashboard.players}
        button.btn.btn-primary(type='submit') Submit

    if errors
        ul
            for error in errors
                li!= error.msg