extends layout

block content
    h1 Create your dashboard 
    p Add each players player tag to the list.
    p A player tag looks like this: #2UVQL0GY

    form(method='POST' action='')
        div.form-group(class = "mt-3")
            label(for='title' class="fs-5") Dashboard Name:
            input#title.form-control(type='text', placeholder='Name of Dashboard' name='title' required='true' value=(title) )
        div#form-group-tags.form-group(class="mt-3")
            label(for='players' class="fs-5") Player Tags:
            div(class="mt-1")
                input(class= "mx4").form-control(type='text', placeholder='Player Tag' name='players' required='true' value=(tag1))
            each tag in otherTags
                div(class="mt-1")
                input(class= "mx4").form-control(type='text', placeholder='Player Tag' name='players' value=(tag))
 
        div.add-btn(class="mb-3 mt-1")
            button#add(class = "btn btn-secondary btn-sm" type="button") +

        button.btn.btn-primary(type='submit') Submit

    if errors
        ul
            for error in errors
                li!= error.msg

    if custom_errors
        ul 
            for error in custom_errors
                li!= error.msg


    script( type= 'text/javascript',src="/javascripts/create.js")
