body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-group{
  display: block;
}

.btn{
  --bs-border-radius: 0rem;
}

#card_area{
  justify-content: center;
}

/* *{
  outline: hotpink solid 1px
} */